.clearfix::after{   /*清除浮动带来的影响*/
    content: '';
    clear:both;     /*不允许有浮动值*/
    display:block;
}
a{
    color:inherit;      /*继承父级的颜色*/
}
.topNavBar>nav>ul>li{
    float:left;  /*左浮动*/
    margin-left:17px;
    margin-right: 17px; 
}
.topNavBar>nav>ul{
    list-style: none;   /*清除列表样式*/
    padding: 0px;   /*清除内边距*/
    margin: 0px;    /*清除外边距*/
}
.topNavBar>nav>ul>li>a{
    font-size: 12px;  /*字体大小*/
    color:#B7B7B7;  /*设置字体颜色*/
    text-decoration:none; /*清楚字体默认样式*/
    font-weight:bold;  /*字体加粗*/
    border-bottom:3px solid transparent; /*透明边框*/
    padding-bottom:5px;    /*设置下方边框*/
    padding-top:5px;
    display: block;    /*使li标签可以包裹住a标签*/
}
.topNavBar>nav{
    float:right;
}
.topNavBar>a{
    float:left;
}
.topNavBar>nav>ul>li>a:hover{   /*鼠标悬浮*/
    border-bottom:3px solid #e06567;
}