.clearfix::after{   /*清除浮动带来的影响*/
    content: '';
    clear:both;     /*不允许有浮动值*/
    display:block;
}
*{
    margin: 0;
    padding: 0;   /*清楚所有标签的默认边距*/
}
a{
    text-decoration:none; /*删除所有a标签默认样式*/
}
body{
    margin: 0px;
    background-color:#efefef; 
}
   
.banner{
   background-image: url(./img/rs-cover.jpg); /*背景图片*/
   height: 515px;  /*背景图片高度*/
   background-position: center center; /*图片居中*/
   background-size: cover; /*背景图片大小为覆盖*/
}
.banner .curtain{
    height: 515px;
    background-color:rgba(44, 51, 64, 0.8);;
    /*设置遮蔽的颜色*/
} 
.topNavBar-inner{
    padding-left:16px;
    padding-right: 16px; 
}
.topNavBar{
    padding-top:12px;
    padding-bottom: 12px;
    position:fixed;  /*脱离文档流 固定在一处*/
    top: 0;
    left: 0;
    width:100%; 
}
.topNavBar nav>ul>li{
    float:left;  /*左浮动*/
    margin-left:17px;
    margin-right: 17px; 
}
.topNavBar nav>ul{
    list-style: none;   /*清除列表样式*/
    padding: 0px;   /*清除内边距*/
    margin: 0px;    /*清除外边距*/
}
.topNavBar nav>ul>li>a{
    font-size: 12px;  /*字体大小*/
    color:#B7B7B7;  /*设置字体颜色*/
    text-decoration:none; /*清楚字体默认样式*/
    font-weight:bold;  /*字体加粗*/
    border-bottom:3px solid transparent; /*透明边框*/
    border-top: 3px solid transparent;
    padding-bottom:5px;    /*设置下方边框*/
    padding-top:5px;
    display: block;    /*使li标签可以包裹住a标签*/
}
.topNavBar nav{
    float:right; /*右浮动*/
    padding-top:1px; /*为nav增加1像素用来对齐*/
}
.topNavBar a{
    float:left;
    color:inherit;  /*继承父级的颜色*/
}
.topNavBar nav>ul>li>a:hover{   /*鼠标悬浮*/
    border-bottom:3px solid #e06567; /*鼠标悬浮出现的边框*/ 
}
.topNavBar .logo{
    font-size: 24px;
    font-family: Arial Black;
}
.card{
    margin-left:-3px; /*减少RS与card之间的间距*/
    color: #9A9DA2;  /*logo颜色*/
}
.rs{
    color: #E6686A  /*logo颜色*/
}
.introduce{ 
    max-width: 940px;  /*设置最大宽度 非定死宽度*/
    margin-left: auto;
    margin-right: auto; /*设置水平居中*/
    background-color: #ffffff;
    margin-top: -345px; /*设置个人信息卡片位置*/
}
.welcome{
    background: #e6686a; /*背景色*/
    display: inline-block;  
    color: white;   /*字体颜色*/
    padding: 4px 16px;  /*设置大小*/
    line-height: 21px;
    position: relative;  /*相对定位*/
    margin-bottom:28px; /*通过增加外边距拉开与姓名的距离*/
}
.triangle{
  border: solid transparent;  /*设置透明边框*/
  height: 0px; 
  width: 0px;      /*设置div大小和边框*/
  border-left-color: #e6686a;       /*设置上边框颜色*/
  border-width:0px 0px 14px 13px ;  /*设置边框上下左右的宽度*/
  display:block;     /*内部元素转块元素*/
  position: absolute; /*绝对定位*/
  top: 100% ;  /*相对父元素最上面为100%的距离*/
  left: 5px;   /*距离父元素最左面4像素*/
}
hr{
    border: none;
    height: 0;
    border-top: solid 1px #dedede;
}
.fiche{
    padding-bottom: 38px; 
    /*设置个人信息与跳转链接的距离*/
}

.fiche .picture{
    float: left;
    margin-top: 57px;   /*设置照片介绍的位置*/
    margin-left: 52px;
}
.fiche .text{
   float:left;
   margin-top: 57px;
   margin-left: 65px;   /*设置个人介绍的位置*/
   width: 470px;        
}
.text .profiler h1{
    padding-bottom: 5px; /*设置与p标签之间的距离*/
}
.text .profiler hr{
    margin-bottom: 26px;
    margin-top:27px;     /*设置分割线上下的距离*/
}
.text .profiler dl dt{
    float: left;      
    width: 30%;     /*浮动后利用宽度是其自动换行*/
    font-size: 15px;
    font-weight: bold;  /*字体加粗*/
    margin-top: 15px; /*拉开距离*/
}
.text .profiler dl dd{
    float: left;
    width:70%;
    color: #9da0a7;
    font-size: 15px; 
    margin-top: 15px;
}
.media{
    background-color: #e8676b;
    text-align: center;;  /*使图标居中*/
}
.media a{
    display: inline-block;
    border-radius:50%;  /*使边框变成圆形*/
    width: 50px;
    height: 30px;       
    line-height: 50px;
    padding: 10px 0 10px 0;
    margin: 10px 8px;     
}
.media a:hover{
    background: #CF5D5F;
}
.media  svg{
    width:30px;
    height:30px;
    fill:white;
    vertical-align: top; 
}